.tab {
    background-color: #a952b2;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.tablinks {
    background-color: #a952b2;
    outline: currentColor none medium;
    position: relative;
    font-size: 15px;
    border: none;
    z-index: 1000;
    padding-left: 6px;
    padding-right: 6px;
    height: 45px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    max-width: 200px;
}

.tabcontent {
    width: 100%;
    display: none;
    flex-direction: column;
    margin: auto;
    height: 100%;
    align-items: center;
}