{% extends "layout.html" %}
{% block title %}
Options
{% endblock %}
{% block stylesheet %}
{{ url_for('static', filename='options.css') }}
{% endblock %}
{% block content %}
<div class="options-form">
    <form action="api/update/options" method="POST">
        <table>
            <thead>
                <tr>
                    <th><br></th>
                </tr>
                <tr>
                    <th colspan="2">Configurator</th>
                </tr>
            </thead>
            <tr>
                <td>Debug</td>
                <td><input type="text" name="debug" value="{{ debug }}"></td>
            </tr>
            <tr>
                <td>Port</td>
                <td><input type="text" name="port" value="{{ port }}"></td>
            </tr>
            <tr>
                <td>LR Conf File Directory</td>
                <td><input type="text" name="lr_conf_file_dir" value="{{ lr_conf_file_dir }}"></td>
            </tr>
        </table>
        <input type="submit" value="update">
    </form>
</div>
{% endblock %}