<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sixy.css') }}">

    </head>
    <body>
        <div class="content">
            <div id="controls">
                <form id="estop" action="/estop" method="POST">
                    <button type="submit">Pause</button>
                </form>
                <form id="control" action="/sixy-control" method="POST">
                    <table>
                        <tr>
                            <td>Motor 1 Speed</td>
                            <td><input type="number" step="0.1" min="-1.0" max="1.0"></td>
                        </tr>
                        <tr>
                            <td>Motor 2 Speed</td>
                            <td><input type="number" step="0.1" min="-1.0" max="1.0"></td>
                        </tr>
                        <tr>
                            <td>Volume</td>
                            <td><input type="number" step="5" min="0" max="100"></td>
                        </tr>
                        <tr>
                            <td>Mute Mic</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>Table Mode</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>LED Brightness</td>
                            <td><input type="number" min="0" max="255"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <iframe src="https://letsrobot.tv/chat/jill"></iframe>
        </div>
    </body>
</html>